
@media screen and (max-width: 630px){
    /* INICIO TELA DE CADASTRO RESPONSIVO */
    main .form{
        width: 80%;
        padding-bottom: 3%;
    }

    main .form .labelsInputs{
        padding-bottom: 3%;
    }

    #labelsInputsLogin{
        padding-bottom: 8%;
    }

    main .form button{
        padding: 3%;
    }

    main .form .formTitle{
        padding: 0;
    }

    footer{
        height: 65px;
    }
}