* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    min-height: 100vh;
}

main {
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
}

a {
    text-decoration: none;
}


/* INICIO CABEÇALHO ================================================================================== */

.cabecalho {
    position: relative;
    width: calc(100vw - 80px);
    height: 150px;
    background-image: url(../img/nave-fundo/width_1500.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top 60px;
    overflow: hidden;
}

a {
    all: unset;
    cursor: pointer;
}

.filtro-branco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(234, 233, 233);
    opacity: 0.9;
    /* intensidade do branco */
    z-index: 1;
}

.conteudo-cabecalho {
    position: relative;
    z-index: 2;
    /* fica acima do filtro */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    display: flex;
    flex-direction: row;
    color: #ff004d;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    margin-left: 20px;
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.29);

}

.titulo-icone {
    width: 70px;
    height: 70px;
    margin-left: 15px;
}

/* FIM DO CABEÇALHO =============================================================================== */
/* NOTIFICAÇÕES =============================================================================== */
.notificacoes {
    display: flex;
    justify-content: center;
    align-items: start;
    width: calc(100vw - 80px);
    margin-top: 30px;
    height: 70vh;
    gap: 2vw;

    .titulo {
        color: #10004f;
        font-size: 1.4rem;
        margin: 0;
        text-shadow: 0 0;
    }

    .campo {
        display: flex;
        background-color: #fff;
        border: #10004f solid 2px;
        border-radius: 20px;
    }

    .datas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.1vh;

        .data-hora {
            width: 11vw;
            height: 5vh;
        }
    }

    .container-ocorrencias {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5vw;
    }

    .ocorrencias {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1vh;

        .linha {
            display: flex;
            gap: 2vw;

            .ocorrencia {
                width: 60vw;
                height: 5vh;
            }
        }

        .exclusao {
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;

            img {
                width: 60%;
                height: 60%;
            }
        }

        .exclusao:hover {
            scale: 1.1;
        }

    }
}