@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

main{
    display: flex;
    width: 100%;
}

.content{
    width: 95%;
}

aside{
    width: 5%;
}

aside .sidebar{
    background-color: #10004f;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

aside .sidebar img{
    width: 20px;
}

aside .sidebar img:hover{
    cursor: pointer;
    background-color: #ff004d;
    border-radius: 50%;
}

.upperContent {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 350px;
    overflow: hidden;
}

.upperContent::before {
    content: "";
    background-image: url(../img/icone-home/bg.webp);
    background-size: cover;
    background-position: center;
    opacity: 0.25;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.pageName {
    position: relative;
    z-index: 1;
    font-size: 58px;
    font-family: "Open Sans", sans-serif;
    color: #ff004d;
    font-weight: bold;
}

.content .upperContent .pageName img{
    width: 80px;
}

.search{
    border: solid #000 1px;
    background-color: #ededed;
    width: 80%;
    height: 150px;
    position: relative;
    z-index: 1;
    display: flex;
}

.search .passagem{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    justify-content: space-around;
}

.search .passagem .labelPassagem{
    display: flex;
    align-items: center;
    width: 38%;
    justify-content: space-evenly;
}

.search .passagem .labelPassagem select{
    background: none;
    border: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.search .passagem .preencherPassagem{
    display: flex;
    align-items: center;
}

.search .passagem .preencherPassagem input{
    display: flex;
    height: 30px;
    width: 50%;
    border: none;
    background-color: #cfcad4;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.search .passagem .preencherPassagem img{
    padding-left: 10px;
    padding-right: 10px;
}

.search .dataPassagem{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
}

.search .dataPassagem .labelDataPassagem{
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    
}

.search .dataPassagem .labelDataPassagem span{
    margin-left: 5px;
}

.search .dataPassagem .labelDataPassagem img{

    width: 26px;
}
.search .dataPassagem input{
    display: flex;
    height: 30px;
    width: 50%;
    border: none;
    background-color: #cfcad4;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    padding: 10px;

}

.search .dataPassagem .preencherPassagem{
    display: flex;
    align-items: center;
}

.search .dataPassagem .preencherPassagem img{
    padding-left: 10px;
    padding-right: 10px;
}

.containerBotao {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.containerBotao button {
    cursor: pointer;
    background-color: #5271ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: relative;
}

.lowerContent{
    background-color: #ededed;
    display: flex;
}

.filtros {
    width: 20%;
    padding: 16px;
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
  }
  
  .filtroTitulo{
        display: flex;
        align-items: center;
        font-family: "Poppins", sans-serif;
        margin-bottom: 12px;
  }

  .filtroTitulo span{
    padding-left: 20px;
    color: #ff004d;
    font-weight: bold;
}
  
  .filtro {
    margin-bottom: 12px;
  }
  
  .cabecalho {
    background: none;
    border: none;
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding: 8px 0;
    cursor: pointer;
    position: relative;
    font-family: "Poppins", sans-serif;
  }
  
  .cabecalho::after {
    content: "▼";
    position: absolute;
    right: 0;
    transition: transform 0.3s;
  }
  
  .cabecalho.ativofiltro::after {
    transform: rotate(-180deg);
  }
  
  .conteudo {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding-left: 10px;
  }
  
  .conteudo label {
    display: block;
    margin: 4px 0;
  }
  
  .destinosVisitados {
    width: 80%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 16px;
    padding-bottom: 1.5rem;
  }
  
  .destinosVisitados h2 {
    color: #ff004d;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
  }
  
  .destinosVisitados table {
    width: 100%;
    border-collapse: collapse;
    border: #10004f 3px solid;
    background-color: #fff;
  }
  
  .destinosVisitados thead {
    color: #10004f;
    font-family: "Poppins", sans-serif;
    font-size: 19px;
  }

  .destinosVisitados th, .destinosVisitados td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  
  
  .destinosVisitados th {
    font-weight: bold;
  }
  
  .destinosVisitados td {
    color: #ff004d;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
  
  .destinosVisitados td:last-child {
    text-align: center;
    font-size: 1.2rem;
    color: #ff004d;
    cursor: pointer;
  }
  
  .destinosVisitados tr:hover {
    background-color: #f9f9f9;
  }

  header {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #10004f;
    width: 80px;
    transition: width 0.4s ease;
    overflow-x: hidden;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

header.expandido {
    width: 200px;
}

header button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.menu-itens {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 90px); /* 60px é a altura do botão menu no topo */
}
  
.menu-item {
    flex: 1; /* Cada item ocupa o mesmo espaço vertical */
    display: flex;
    align-items: center;
    padding: 0 10px;
    transition: background 0.3s;
    cursor: pointer;
}

/* item mostrando na página */
.ativo{
    background-color: #ff004d;
}
/* ========================= */

.menu-item:hover {
    background-color: #f3497ced;
}

.menu-item img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 15px;
    flex-shrink: 0;
}

.menu-item span {
    white-space: nowrap;
    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

header.expandido .menu-item span {
    opacity: 1;
    transform: translateX(0);
    color: #FFFFFF;
}
  
header.expandido ~ main {
    margin-right: 200px;
}

a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}