html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* HEADER  */

header {
    background-color: #10004f;
    display: flex;
    height: 70px;
    border-bottom: 1px solid #efeae4;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .leftside {
    display: flex;
    padding: 2%;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
}

header .leftside span {
    color: #fff;
    padding-left: 2%;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}

.leftside-icon{
    width: 50px;
}

header .rigthside {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
}

header .rigthside a {
    text-decoration: none;
    color: #fff;
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: text-decoration 0.3s ease;
}

header .rigthside a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 2%;
    overflow: hidden;
}

main .form {
    display: flex;
    flex-direction: column;
    background-color: #efeae4;
    width: 40vw;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    height: 60vh;
    margin-top: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

}

main .form .formTitle {
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    color: #10004f;
    padding: 15px;
}

/* ============== */
.form label {
    font-size: 0.875rem;
    color: #333;
    font-weight: 500;
}

.form input {
    padding: 0.50rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.9rem;
    transition: border-color 0.3s;
    width: 100%;
}

.form input:focus {
    outline: none;
    border-color: #10004f;
}
/* ============== */

main .form .labelsInputs {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-bottom: 5%;
}



main .form .labelsInputs .email label {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    /* font-weight: 300; */
    font-style: normal;
    /* font-size: 11px; */
    padding-top: 2%;
    font-size: 0.875rem;
    color: #333;
    font-weight: 500;
}

main .form .labelsInputs .email input {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: 100%;
    padding: 3%;

}

main .form .labelsInputs .password {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

main .form .labelsInputs .password label {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    /* font-weight: 300; */
    font-style: normal;
    /* font-size: 11px; */
    padding-top: 2%;
    font-size: 0.875rem;
    color: #333;
    font-weight: 500;
}

main .form .labelsInputs .password input {
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    width: 100%;
    padding: 3%;
}

main .form button {
    background-color: #ff004d;
    border: none;
    border-radius: 10px;
    width: 15vw;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 15px;
    padding: 1rem;
    align-self: center;
    cursor: pointer;
}

main .form button:hover{
    background-color: #ff306e;
    width: 17vw;
    transition: 0.5s;
}



/* FOOTER */
footer {
    background-color: #10004f;
    color: #fff;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
}