

main {
    margin: 0;
    padding: 0;
    background-color: #EDEDED;
}

a{
    text-decoration: none;
}

/* INICIO CABEÇALHO ================================================================================== */
  
.cabecalho {
    position: relative;
    width: calc(100vw - 80px);
    height: 200px;
    background-image: url(../img/icone-home/bg.webp);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    overflow: hidden;
}
  
.filtro-branco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.88; /* intensidade do branco */
    z-index: 1;
}
  
.conteudo-cabecalho {
    position: relative;
    z-index: 2; /* fica acima do filtro */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.conteudo-cabecalho img{
    margin-left: 10px;
    width: 6rem;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.29));

}
  
.titulo {
    color: #ff004d;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    margin-left: 20px; 
    text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.29);

}

/* FIM DO CABEÇALHO =============================================================================== */

/* BOTAO ADICIONAR */

.adicionar{
    width: 10rem;
    background-color: #23255d;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 5px; 
    cursor: pointer;
    align-self: flex-end;
    font-size: 16px;
    gap: 5px;
    margin-right: 2rem;
    transition: 400ms;
}

.adicionar:hover{
    transform: scale(1.05);
    transition: 400ms;
}

/* FIM BOTAO ADICIONAR */

/* TABELA ================================================================================= */

.container-tabela {
    width: calc(100vw - 15rem);
    overflow-x: auto;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tabela-sugestoes {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family:  'Open Sans', sans-serif;
}

.tabela-sugestoes thead {
    background-color: #23255d;
    color: white;
    text-align: center;
}

.tabela-sugestoes th,
.tabela-sugestoes td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}



.tabela-sugestoes tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 4px;
}


/* FIM TABELA ============================================================================= */